@model MyPlanner.Models.MyTask

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
        background: #1d9172;
        color: antiquewhite;
    }
</style>
<body >
    <h2>Are you sure you want to delete this?</h2>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Due date
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Due_Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Urgency)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Urgency)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Transfer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Transfer)
            </dd>
            <dt class="col-sm-2">
                Duration in hours
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                Physical Effort
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Physical_Effort)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tag)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tag)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Asignee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Asignee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RatingFloat) <img src="~/Content/Images/star.png" width="22" height="22" />
            </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index"> <font color="white">Back to List</font></a>
        </form>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
        }
    </div>
</body>