@model MyPlanner.Models.MyTask

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background: #1d9172;
        color: antiquewhite;
    }
</style>
<body>
    <h1>Details</h1>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Due date
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Due_Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Urgency)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Urgency)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Transfer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Transfer)
            </dd>
            <dt class="col-sm-2">
                Duration in hours
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                Physical Effort
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Physical_Effort)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tag)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tag)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Asignee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Asignee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RatingInt) <img src="~/Content/Images/star.png" width="22" height="22" />
            </dd>
        </dl>
    </div>
    <div>        
        <a asp-action="Edit" asp-route-id="@Model.Id"><font color="white">Edit </font></a> |
        <a asp-action="Index"><font color="white">Back to List </font></a>   
    </div>
</body>