@model MyPlanner.Models.User

@{
    ViewData["Title"] = "Profile";
}
<style>
    body {
        background: #1d9172;
        color: antiquewhite;
    }
    .divLeft {
        width:70%;
        float: left;
    }
    .divRight {
        width:30%;
        float: right;
    }
    .divFull {
        width:100%;
    }
</style>
<h1><font color="antiquewhite">Profile</font></h1>
<body >
    <hr/>
    <div class="row">
        <div class="divLeft">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.first_name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.first_name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.last_name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.last_name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.age)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.age)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.other_ocupation)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.other_ocupation)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.phone_number)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.phone_number)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.username)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.username)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.rating_float)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.rating_float) <img src="~/Content/Images/star.png" width="22" height="22" />
                </dd>
            </dl>
        </div>

        <div class="divRight">
            <img src="@Url.Content(@Model.picture_path)" width="240" height="320" align="middle">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-8"> 
            <p><font color="antiquewhite">Assigned to</font></p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <font color="antiquewhite">
                                @Html.DisplayNameFor(model => model.MyTasks_asigned[0].Description)
                            </font>
                        </th>
                        <th>
                            <font color="antiquewhite">
                                @Html.DisplayNameFor(model => model.MyTasks_asigned[0].Tag)
                            </font>
                        </th>
                        <th>
                            <font color="antiquewhite">
                                @Html.DisplayNameFor(model => model.MyTasks_asigned[0].Rating)
                            </font>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MyTasks_asigned)
                    {
                        <tr>
                            <td>
                                <font color="antiquewhite">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </font>
                            </td>

                            <td>
                                <font color="antiquewhite">
                                    @Html.DisplayFor(modelItem => item.Tag)
                                </font>
                            </td>
                            <td>
                                <font color="antiquewhite">
                                    @Html.DisplayFor(modelItem => item.RatingInt)<img src="~/Content/Images/star.png" width="22" height="22" />
                                </font>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p><font color="antiquewhite">Owner of</font></p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <font color="antiquewhite">
                                @Html.DisplayNameFor(model => model.MyTasks_owner[0].Description)
                            </font>
                        </th>
                        <th>
                            <font color="antiquewhite">
                                @Html.DisplayNameFor(model => model.MyTasks_owner[0].Tag)
                            </font>
                        </th>
                        <th>
                            <font color="antiquewhite">
                                @Html.DisplayNameFor(model => model.MyTasks_owner[0].RatingInt) 
                            </font>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MyTasks_owner)
                    {
                        <tr>
                            <td>
                                <font color="antiquewhite">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </font>
                            </td>
                            <td>
                                <font color="antiquewhite">
                                    @Html.DisplayFor(modelItem => item.Tag)
                                </font>
                            </td>
                            <td>
                                <font color="antiquewhite">
                                    @Html.DisplayFor(modelItem => item.RatingInt) <img src="~/Content/Images/star.png" width="22" height="22" />
                                </font>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
        <div class="divFull">
            <a asp-action="Edit" asp-route-id="@Model.Id"><font color="antiquewhite">Edit |</font></a>
            <a asp-action="Index"><font color="antiquewhite">Back to List</font></a>
        </div>
</body>