@model IEnumerable<MyPlanner.Models.User>

@{
    ViewData["Title"] = "All Users";
}
    <style>
        .masonry {
            margin: 1.5em 0;
            padding: 0;
            -moz-column-gap: 1.5em;
            -webkit-column-gap: 1.5em;
            column-gap: 1.5em;
            font-size: .85em;
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
        }

        .item {
            display: inline-block;
            background-image: linear-gradient(#730099, #cc99ff);
            padding: 1.5em;
            margin: 0 0 1.5em;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            text-shadow: 1px 1px black;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(69,44,69,1);
            -moz-box-shadow: 10px 10px 5px 0px rgba(69,44,69,1);
            box-shadow: 10px 10px 5px 0px rgba(69,44,69,1);
        }
    </style>
    <body style="background:#1a1a1a">
        <h1><font color="white">List of registered users</font></h1>

        <p>
            <a asp-action="Create"><font color="white">Create New</font></a>
        </p>
        <div class="masonry">
            @foreach (var item in Model)
            {
                <div class="item">
                    <font color=white>
                        <p>First name: @Html.DisplayFor(modelItem => item.first_name)</p>
                        <p>Last name: @Html.DisplayFor(modelItem => item.last_name)</p>
                        <p> Age: @Html.DisplayFor(modelItem => item.age)</p>
                        <p> Other ocupation: @Html.DisplayFor(modelItem => item.other_ocupation)</p>
                        <p> Phone number: @Html.DisplayFor(modelItem => item.phone_number)</p>
                        <p> Username: @Html.DisplayFor(modelItem => item.username)</p>
                        <p> Rating: @Html.DisplayFor(modelItem => item.rating_float) <img src="~/Content/Images/star.png" width="22" height="22" /> </p>

                        <p>
                            <a asp-action="Edit" asp-route-id="@item.Id"><font color="white">Edit |</font></a>
                            <a asp-action="Details" asp-route-id="@item.Id"><font color="white">Profile |</font></a>
                            <a asp-action="Delete" asp-route-id="@item.Id"><font color="white">Delete</font></a>
                        </p>
                    </font>
                </div>

            }
        </div>
    </body>